.img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.goodTitle {
  font-size: 20px;
  font-weight: bold;
  color: teal;
  margin-bottom: 10px;
}

.list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.input {
  width: 50px;
  padding: 5px;
}

.totalPrice {
  font-weight: bold;
  margin-top: 10px;
}
