.navList {
  font-weight: bold;
  font-size: 32px;
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: teal;
  border-bottom: 1px solid teal;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
}

.navLink:global(.active) {
  color: #ff6347;
  font-weight: bold;
}
